body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
}

:root {
  --header-color: #f3f3f3;
  --main-font: "Roboto", sans-serif;
  --accent-font: "Roboto Mono", monospace;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  width: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: grab;
}
